body
{
	margin: 2em 0;
	background-color:rgb(108, 255, 226);
}

#tabs-content
{
	background-color: white;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.tab-pane
{
	padding: 2em;
}